# templates/novasphere.conf.j2 — Généré par Ansible
# NE PAS MODIFIER MANUELLEMENT
server {
    listen {{ http_port }};
    server_name {{ nginx_server_name }};
    root {{ nginx_root }};
    index index.html;

    location / {
        try_files $uri $uri/ =404;
    }

    add_header X-Environment "{{ env }}";
    add_header X-Managed-By "Ansible";
}
